@import url('https://fonts.googleapis.com/css?family=Quicksand:300');
body{
	background-image: url("images/fondnoir.jpg");
	background-repeat: no-repeat;
	margin:0;
	padding:0;
	font-family:'Quicksand', sans-serif;
	color:#FFF
}

.neon{
	position:absolute;
	top:10%;
	left:50%;
	transform:translate(-50%,-50%);
	margin:0;
	padding:0 20px;
	font-size:6em;
	color:#fff;
	text-shadow: 0 0 20px #20A4FF
}

.neon:after{
	content:attr(data-text);
	position:absolute;
	top:0;
	left:0;
	padding:0 20px;
	z-index:-1;
	color:#20A4FF;
	filter:blur(15px);
}

.neon:before{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#20A4FF;
	z-index:-2;
	opacity:.5;
	filter:blur(40px)
}

.neon1{
	position:absolute;
	top:30%;
	left:115px;
	transform:translate(-50%,-50%);
	margin:0;
	padding:0 20px;
	font-size:1.5em;
	color:#fff;
	text-shadow: 0 0 20px #20A4FF
}

.neon1:after{
	content:attr(data-text);
	position:absolute;
	top:0;
	left:0;
	padding:0 20px;
	z-index:-1;
	color:#20A4FF;
	filter:blur(15px);
}

.neon1:before{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#20A4FF;
	z-index:-2;
	opacity:.5;
	filter:blur(40px)
}

.neon2{
	position:absolute;
	top:45%;
	left:100px;
	transform:translate(-50%,-50%);
	margin:0;
	padding:0 20px;
	font-size:1.5em;
	color:#fff;
	text-shadow: 0 0 20px #20A4FF
}

.neon2:after{
	content:attr(data-text);
	position:absolute;
	top:0;
	left:0;
	padding:0 20px;
	z-index:-1;
	color:#20A4FF;
	filter:blur(15px);
}

.neon2:before{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#20A4FF;
	z-index:-2;
	opacity:.5;
	filter:blur(40px)
}

.neon3{
	position:absolute;
	top:62%;
	left:100px;
	transform:translate(-50%,-50%);
	margin:0;
	padding:0 20px;
	font-size:1.5em;
	color:#fff;
	text-shadow: 0 0 20px #20A4FF
}

.neon3:after{
	content:attr(data-text);
	position:absolute;
	top:0;
	left:0;
	padding:0 20px;
	z-index:-1;
	color:#20A4FF;
	filter:blur(15px);
}

.neon3:before{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#20A4FF;
	z-index:-2;
	opacity:.5;
	filter:blur(40px)
}

body{
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
	flex-direction:column;
}

.bloc-a{
	position:fixed;
	top:0%;
	left:10%;
	display:inline-block;
	padding:25px 30px;
	margin:40px 0;
	color:#20A4FF;
	font-size:24px;
	text-decoration:none;
	text-transform:uppercase;
	overflow:hidden;
	transition:0.5s;
	letter-spacing:4px;
	-webkit-box-reflect:below 1px linear-gradient(transparent,#0005);
}

.bloc-a:hover{
	background:#20A4FF;
	color:#050801;
	box-shadow: 0 0 5px,
				0 0 25px,
				0 0 50px,
				0 0 200px;
}

.bloc-a span{
	position:absolute;
	display:block;
}

.bloc-a span:nth-child(1){
	top:0;
	left:-100%;
	width:100%;
	height:2px;
	background:linear-gradient(90deg,transparent,#20A4FF);
	animation:animate1 1s linear infinite;
}

@keyframes animate1
{
	0%
	{
		left:-100%;
	}
	50%,100%
	{
		left:100%;
	}
}

.bloc-a span:nth-child(2){
	top:-100%;
	right:0;
	width:2px;
	height:100%;
	background:linear-gradient(180deg,transparent,#20A4FF);
	animation:animate2 1s linear infinite;
	animation-delay:0.25s;
}

@keyframes animate2
{
	0%
	{
		top:-100%;
	}
	50%,100%
	{
		top:100%;
	}
}

.bloc-a span:nth-child(3){
	bottom:0;
	right:-100%;
	width:100%;
	height:2px;
	background:linear-gradient(270deg,transparent,#20A4FF);
	animation:animate3 1s linear infinite;
	animation-delay:0.5s;
}

@keyframes animate3
{
	0%
	{
		right:-100%;
	}
	50%,100%
	{
		right:100%;
	}
}

.bloc-a span:nth-child(4){
	bottom:-100%;
	left:0;
	width:2px;
	height:100%;
	background:linear-gradient(360deg,transparent,#20A4FF);
	animation:animate4 1s linear infinite;
	animation-delay:0.75s;
}

@keyframes animate4
{
	0%
	{
		bottom:-100%;
	}
	50%,100%
	{
		bottom:100%;
	}
}

.lien:hover {
color:orange;
}

.lien{
color:#00FFE8;
}

.bloc-r{
	position:fixed;
	top:250px;
	left:50px;
	font-size:1.5em;
}

.bloc-s{
	position:fixed;
	top:370px;
	left:50px;
	font-size:1.5em;
}

.bloc-t{
	position:fixed;
	top:500px;
	left:50px;
	font-size:1.5em;
	text-align:justify;
}